<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885683161367-nqmpfkejviduebn6nr69kjhn2b2ah4ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885683161367-nqmpfkejviduebn6nr69kjhn2b2ah4ub</string>
	<key>API_KEY</key>
	<string>AIzaSyD-7C2Bv4QqCmf_I0p4oqK-_3XVdjnPgks</string>
	<key>GCM_SENDER_ID</key>
	<string>885683161367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evidana.sample.ios</string>
	<key>PROJECT_ID</key>
	<string>sample-ios-42228</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-ios-42228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:885683161367:ios:e7dd211de8cc563f3fcf52</string>
</dict>
</plist>
